ul {
  list-style: none;
}
body {
  background-color: rgba(85, 85, 85, 0.658);
}
.container {
  z-index: 96;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  background: #555;
}
.search {
  margin: 0 auto;
  padding: 0 15px;
  &__form {
    display: flex;
    justify-content: center;
  }
  &__input {
    margin-right: 20px;
    height: 48px;
    width: 400px;
    padding-left: 20px;
    font-size: 26px;
    color: #3f3f3f;
    border: none;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -10px;
  margin-bottom: -10px;
  &__link {
    text-decoration: none;
  }
}
.gallery-item {
  border: 2px solid #3f3f3f;
  background-color: #555;
  margin-left: 10px;
  margin-bottom: 10px;
}
.stats {
  margin-left: 5px;
  color: #ffff;
  display: flex;
  justify-content: space-around;
}
.result {
  margin-top: 85px;
}
img {
  object-fit: cover;
}
